.hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: blanchedalmond;
    font-family: Oxygen-Sans;



}
.hero .title{
    font-family: Lato;
    color: black;
    font-weight: bolder;
    font-size: 24px;
}
.hero .subtitle{
    font-family: Lato;
    color: #E11299;
    font-weight: bolder;
    font-size: 20px
}

.hero .body{
    font-family: Roboto;
    color: #1f191a;
    font-weight: normal;
    font-size: 16px

}



 .blog-item {
      margin-bottom: 20px;
    }
    .blog-title {
      font-size: 20px;
      font-weight: bold;
    }
    .blog-summary {
      margin-top: 10px;
    }
    .blog-date {
      margin-top: 10px;
      color: #888;
    }

.blog-content {
      margin-top: 20px;
    }
    .blog-date {
      margin-top: 10px;
      color: #888;
    }

.column {
      margin-top: 20px;
    }
    .card {
      height: 100%;
    }
    .card-image img {
      object-fit: cover;
      height: 200px;
    }


    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


 /* Custom pinkish theme color */
    :root {
      --theme-color: #E11299;
    }
    .navbar.is-pinkish {
      background-color: var(--theme-color);
      color: #fff;
    }
    .hero.is-pinkish {
      background-color: #FFEAEA;
      color: #fff;
    }
    .footer {
      background-color: var(--theme-color);
      color: #fff;

    }
    .footer .title {
      background-color: var(--theme-color);
      color: #fff;
      font-size: 16px;

    }


.read-more-button {
    background-color: var(--theme-color);
    color: #FFEAEA;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.card .title {
    font-family: Lato;
    color: #E11299;
    font-weight: bolder;
    font-size: 16px;
}
.card .content {
    font-family: Roboto;
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.custom-section {
    background-color: #F5C6EC;
    color: white;
    padding: 20px;
}

.custom-section .title {

    font-family: Lato;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}


.section-custom {
    background-color: #FFEAEA;
    color: white;
    padding: 20px;
}

.section-custom .title {

    font-family: Lato;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.section-custom .subtitle {

    font-family: Lato;
    color: #E11299;
    font-weight: bold;
    font-size: 16px;
}
.section-custom .content {

    font-family: Roboto;
    color: black;
    font-weight: normal;
    font-size: 16px;
}
.navbar-menu  {

    font-family: Lato;

    font-weight: bold;
    font-size: 16px;

}
.navbar-item {

    font-family: Lato;
    color: black;
    font-weight: bolder;
    font-size: 16px;
}
.navbar-burger  {

    font-family: Lato;
    color: black;
    font-weight: bolder;
    font-size: 16px;
}
.is-contact-button {
    background-color: #E11299;
    color: white;
    align-items: center;
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
}
 .testimony-card {
            position: relative;
        }
        .testimony-image {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            max-width: 60px;
            border: 3px solid white;
        }

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev
{
  color: #E11299; /* Change to your desired pink color */
}

.swiper-pagination-progressbar-fill {
  border: 2px solid #E11299;
  border-radius: 5px;
}

.swiper-pagination-progressbar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
